body {
  color: #000; }

@media (min-width: 1367px) {
  .main-header .container {
    width: 1200px; } }
.main-header {
  background: url(../images/header-bg.png);
  position: relative; }
  .main-header .container {
    position: relative; }
    .main-header .container:before {
      content: "";
      background: url(../images/top-banner.png) no-repeat;
      background-size: 100% 100%;
      height: 665px;
      width: 800px;
      position: absolute;
      top: 0;
      left: -57px; }
  .main-header .title-wraper {
    width: 57%; }
  .main-header .left-title {
    float: left;
    width: 47%;
    margin-top: 10px; }
    .main-header .left-title h2 {
      background: url(../images/ttle-green.png) no-repeat;
      background-size: 110% 100%;
      color: #000;
      text-shadow: 2px 2px 1px #fff;
      margin: 0;
      font-size: 31px;
      line-height: 0.90;
      font-family: 'Georgia';
      padding: 0 0 15px 15px;
      position: relative;
      left: -60px; }
      .main-header .left-title h2 span {
        font-size: 14px; }
    .main-header .left-title .orange-title {
      background: url(../images/orange-content.png) no-repeat;
      background-size: 100% 100%;
      font-family: 'Lao UI';
      color: #811600;
      padding: 26px 0 37px 82px;
      position: relative; }
      .main-header .left-title .orange-title:nth-child(2) {
        margin-top: -18px;
        width: 110%;
        left: -10%; }
      .main-header .left-title .orange-title:nth-child(3) {
        margin-top: -18px; }
      .main-header .left-title .orange-title:before {
        content: "";
        background: url(../images/orange.png) no-repeat;
        position: absolute;
        width: 70px;
        height: 72px;
        background-size: 100%;
        left: 0;
        top: 6px; }
      .main-header .left-title .orange-title h4 {
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 1.33;
        font-weight: 700;
        text-transform: uppercase; }
      .main-header .left-title .orange-title p {
        margin: 0;
        font-size: 15px;
        line-height: 1; }
    .main-header .left-title .garuntte {
      margin-top: -20px; }
  .main-header .right-form {
    float: left;
    width: 48%;
    background: #008828;
    padding: 17px 10px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative; }
    .main-header .right-form:after {
      content: "";
      position: absolute;
      background: url(../images/weeks-arrow.png) no-repeat;
      width: 75px;
      height: 259px;
      right: -54px;
      top: -24px; }
    .main-header .right-form h2 {
      margin: 0;
      background: url(../images/quate.png) no-repeat;
      background-size: 100% 100%;
      color: #fff;
      font-family: 'Impact';
      font-size: 44px;
      line-height: 1;
      padding: 0px 0px 29px 20px;
      margin-bottom: 20px; }
      .main-header .right-form h2 span {
        font-size: 28px; }
    .main-header .right-form .content {
      padding-left: 40px;
      font-size: 14px; }
      .main-header .right-form .content lable {
        font-family: 'Lucida Sans';
        color: #fff;
        display: block;
        margin-bottom: 15px; }
        .main-header .right-form .content lable span {
          width: 31%;
          display: inline-block;
          float: left;
          margin-right: 5px; }
        .main-header .right-form .content lable input {
          border: none;
          background: #fff;
          color: #000;
          padding: 0 5px;
          height: 24px;
          width: 63%;
          float: left; }
      .main-header .right-form .content button {
        border: none;
        background: none;
        margin: 20px 0; }
  .main-header .gurantee-satification {
    background: url(../images/banner-gurentee-2.png) no-repeat;
    background-size: 100% 100%;
    font-family: 'Impact';
    min-height: 110px;
    position: absolute;
    bottom: -7px;
    font-size: 41px;
    line-height: 1;
    padding: 35px 134px 0 0;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;
    width: 79%;
    left: -5%; }
    .main-header .gurantee-satification:before {
      content: "";
      position: absolute;
      background: url(../images/banner-gurentee-3.png) no-repeat;
      background-size: 100% 100%;
      width: 258px;
      height: 186px;
      bottom: -25px;
      left: 77px; }

.logo img {
  display: inline-block; }
.logo a {
  text-decoration: none;
  font-size: 25px;
  color: #000;
  font-family: "Utsaah";
  margin-right: 15px; }
  .logo a img {
    margin-right: 10px; }

.news .container {
  background: #f9f9f7;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 50px auto; }
.news h2 {
  margin: 0;
  color: #86c807;
  font-weight: 700;
  font-family: 'Arial';
  font-size: 44px;
  line-height: 1; }
.news p {
  font: 25px/1.36 'Segoe UI Symbol'; }

.formula {
  margin-bottom: 40px; }
  .formula .container {
    background: url(../images/formula-bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-bottom: 30px; }
  .formula .formula-fact {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 600px; }
  .formula .title {
    background: url(../images/formula-title.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    padding: 47px 100px 89px 33px;
    margin-top: -25px; }
    .formula .title .wraper {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    .formula .title h2 {
      margin: 0;
      color: #fad00c;
      font: 51px/1 'Folklore'; }
    .formula .title p {
      margin: 0;
      color: #fff;
      font: 29px 'Folklore';
      line-height: 1; }
  .formula h3 {
    margin: 0;
    color: #008828;
    font: 40px/1 'Segoe UI';
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 40px; }
  .formula p {
    font: 25px/1.36 'Segoe UI';
    letter-spacing: -.02em; }
  .formula .bottom-text {
    margin-top: 15px;
    margin-bottom: 10px; }
    .formula .bottom-text p {
      font-weight: 700;
      font-style: italic;
      color: #008828;
      margin-top: 25px; }
      .formula .bottom-text p span {
        color: #000; }
  .formula .img-link img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; }
  .formula .gmp {
    bottom: -62px;
    position: relative;
    right: -28px; }

.product-inforamtion h3 {
  margin: 0;
  font: 25px/1 'Impact'; }
.product-inforamtion .text {
  padding: 15px 0; }
.product-inforamtion p {
  font: 25px/1.32 'Segoe UI Symbol';
  margin: 0; }
.product-inforamtion .container {
  background: url(../images/blue.png);
  background-size: 100% 100%; }
.product-inforamtion .blue {
  background: url(../images/blue.png); }
.product-inforamtion .green {
  background-image: url(../images/green.png); }
.product-inforamtion .red {
  background-image: url(../images/red.png); }
.product-inforamtion .light-blue {
  background-image: url(../images/light-blue.png); }
