$u: 'Utsaah';
body {
    color: #000;
}

@media (min-width:992px) {
    .no-padding-left {
        padding-left: 0;
    }
}


.no-padding-right {
    padding-right: 0;
}

.img-responsive {
    display: initial;
}

@media (min-width:1367px) {
    .main-header {
        .container {
            width: 1200px
        }
    }
}

.main-header {
    background: url(../images/header-bg.png);

    position: relative;
    .container {
        position: relative;
        &:before {
            content: "";
            background: url(../images/top-banner.png) no-repeat;
            background-size: 100% 100%;
            height: 665px;
            width: 800px;
            position: absolute;
            top: 0;
            left: -57px;
        }
    }
    .title-wraper {
        width: 57%;
    }
    .left-title {
        float: left;
        width: 47%;
        margin-top: 10px;
        h2 {
            background: url(../images/ttle-green.png) no-repeat;
            background-size: 110% 100%;
            color: #000;
            text-shadow: 2px 2px 1px #fff;
            margin: 0;
            font-size: 31px;
            line-height: 0.90;
            font-family: 'Georgia';
            padding: 0 0 15px 15px;
            position: relative;
            left: -60px;
            span {
                font-size: 14px;
            }
        }
        .orange-title {
            background: url(../images/orange-content.png) no-repeat;
            background-size: 100% 100%;
            font-family: 'Lao UI';
            color: #811600;
            padding: 26px 0 37px 82px;
            position: relative;
            &:nth-child(2) {
                margin-top: -18px;
                width: 110%;
                left: -10%;
            }
            &:nth-child(3) {
                margin-top: -18px;
            }
            &:before {
                content: "";
                background: url(../images/orange.png) no-repeat;
                position: absolute;
                width: 70px;
                height: 72px;
                background-size: 100%;
                left: 0;
                top: 6px;
            }
            h4 {
                margin: 0;
                font-size: 12px;
                letter-spacing: 0.02em;
                line-height: 1.33;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                font-size: 15px;
                line-height: 1;
            }

        }
        .garuntte {
            margin-top: -20px;
        }
    }
    .right-form {
        float: left;
        width: 48%;
        background: #008828;
        padding: 17px 10px;
        border-radius: 15px;
        margin-top: 20px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background: url(../images/weeks-arrow.png) no-repeat;
            width: 75px;
            height: 259px;
            right: -54px;
            top: -24px;
        }
        h2 {
            margin: 0;
            background: url(../images/quate.png) no-repeat;
            background-size: 100% 100%;
            color: #fff;
            font-family: 'Impact';
            font-size: 44px;
            line-height: 1;
            padding: 0px 0px 29px 20px;
            margin-bottom: 20px;
            span {
                font-size: 28px;
            }
        }
        .content {
            padding-left: 40px;
            font-size: 14px;
            lable {
                font-family: 'Lucida Sans';
                color: #fff;
                display: block;
                margin-bottom: 15px;
                span {
                    width: 32%;
                    display: inline-block;
                    float: left;
                    margin-right: 5px;
                }
                input {
                    border: none;
                    background: #fff;
                    color: #000;
                    padding: 0 5px;
                    height: 24px;
                    width: 63%;
                    float: left;
                }
            }
            button {
                border: none;
                background: none;
                margin: 20px 0;
            }
        }
    }
    .gurantee-satification {
        background: url(../images/banner-gurentee-2.png) no-repeat;
        background-size: 100% 100%;
        font-family: 'Impact';
        min-height: 110px;
        position: absolute;
        bottom: -7px;
        font-size: 41px;
        line-height: 1;
        padding: 35px 134px 0 0;
        font-style: italic;
        text-align: right;
        text-transform: uppercase;
        width: 79%;
        left: -5%;
        &:before {
            content: "";
            position: absolute;
            background: url(../images/banner-gurentee-3.png) no-repeat;
            background-size: 100% 100%;
            width: 258px;
            height: 186px;
            bottom: -25px;
            left: 77px;
        }
    }

}

.logo {
    img {
        display: inline-block;
    }
    a {
        text-decoration: none;
        font-size: 25px;
        color: #000;
        font-family: $u;
        margin-right: 15px;
        img {
            margin-right: 10px;
        }
    }
}

.news {
    .container {
        background: #f9f9f7;
        border-radius: 15px;
        border: 1px solid #c4c4c4;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 50px auto;
    }
    h2 {
        margin: 0;
        color: #86c807;
        font-weight: 700;
        font-family: 'Arial';
        font-size: 44px;
        line-height: 1;
    }
    p {
        font: 25px/1.36 'Segoe UI Symbol';
    }
}

.formula {
    margin-bottom: 40px;

    .container {
        background: url(../images/formula-bg.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        padding-bottom: 30px;
    }
    .formula-fact {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 600px;
    }
    .title {
        background: url(../images/formula-title.png) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        padding: 47px 100px 89px 33px;
        margin-top: -25px;
        .wraper {
            transform: rotate(-5deg);
        }
        h2 {
            margin: 0;
            color: #fad00c;
            font: 51px/1 'Folklore';
        }
        p {
            margin: 0;
            color: #fff;
            font: 29px 'Folklore';
            line-height: 1;
        }
    }
    h3 {
        margin: 0;
        color: #008828;
        font: 40px/1 'Segoe UI';
        letter-spacing: 0.02em;
        font-weight: 700;
        margin-bottom: 40px;
    }
    p {
        font: 25px/1.36 'Segoe UI';
        letter-spacing: -.02em;
    }
    .bottom-text {
        margin-top: 15px;
        margin-bottom: 10px;
        p {
            font-weight: 700;
            font-style: italic;
            color: #008828;
            margin-top: 25px;
            span {
                color: #000;
            }
        }
    }
    .img-link img {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
    .gmp {
        bottom: -62px;
        position: relative;
        right: -28px;
    }
}

.what-better {
    .container {
        background: url(../images/formula-bg.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 30px;
    }
    .what-title {
        background: url(../images/what-better-title.png) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        padding: 21px 0 30px 63px;
        width: 114%;
        margin-left: -11%;
        h3 {
            margin: 0;
            color: #fad00c;
            font: 700 35px/1 'Segoe UI';
            letter-spacing: 0.04em;
        }
        h3 + h3 {
            color: #fff;
        }
    }
    p {
        font: 25px/1.36 'Segoe UI';
        letter-spacing: -.02em;
    }
    .p-bottom {
        font-family: 'Segoe UI Symbol';
    }
    .what-man {
        position: relative;
        top: 103px;
    }
    .what-medicine {
        margin-top: -46px;
    }
    .what-order {
        margin: 13px 0 20px -28px;
    }
}

.benifits {
    margin-bottom: 40px;
    .container {
        background: url(../images/benifits-bg.png) no-repeat;
        background-size: 100% 100%;
        border: 7px solid #ee980f;
        padding: 0;
    }
    h4 {
        margin: 20px 0;
        font: 70px/1 'Impact';
        letter-spacing: 0.14em;
        span {
            font-size: 138px;
            color: #a31702;
            display: block;
            letter-spacing: 0.12em;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        clear: both;
        position: relative;
        &:after {
            content: "";
            background: url(../images/medicine-2.png) no-repeat;
            background-size: 100% 100%;
            width: 357px;
            height: 319px;
            position: absolute;
            top: -6px;
            right: 15px;
        }
        li {
            background: url(../images/list-bg.png) no-repeat;
            background-size: 100% 100%;
            font: 35px/1.5 'Segoe UI Symbol';
            letter-spacing: -0.02em;
            margin-bottom: 25px;
            padding-left: 150px;
            position: relative;
            &:before {
                content: "";
                background: url(../images/benifits-arrow.png) no-repeat;
                width: 104px;
                height: 80px;
                position: absolute;
                top: -30px;
                left: 46px;
            }
        }
    }
}

.week-transport {
    background: #0f5300;
    border-top: 7px solid #ee980f;
    .medicine {
        max-width: 139px;
        position: relative;
        top: -20px;
    }
    h5 {
        margin: 0;
        color: #fff;
        font: 21px/1 'Folklore';
        letter-spacing: 0.10em;
        margin-top: 14px;
        span {
            display: block;
            font-size: 67px;
            letter-spacing: .02em;
        }
    }
    .order-button {
        margin-top: 22px;
    }
}

.product-inforamtion {
    h3 {
        margin: 0;
        font: 25px/1 'Impact';
    }
    .text {
        padding: 15px 0;
    }
    p {
        font: 25px/1.32 'Segoe UI Symbol';
        margin: 0;
    }
    .container {
        background: url(../images/blue.png);
        background-size: 100% 100%;
    }
    .blue {
        background: url(../images/blue.png);
    }
    .green {
        background-image: url(../images/green.png);
    }
    .red {
        background-image: url(../images/red.png);
    }
    .light-blue {
        background-image: url(../images/light-blue.png);
    }
    .no-bg-container {
        background: none;
        padding: 0;
        .week-transport {
            border: 7px solid #ee980f;
        }
    }
}

.discount {
    margin-top: 40px;
    .container {
        background: url(../images/discount-bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 30px;
    }
    .container-2 {
        padding-top: 0;
        .row {
            background-image: url(../images/bg-overlay.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% auto;
        }
    }
    .row {
        background: #f0f2f8;
        margin: 0;
        padding: 20px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            font-family: 'Calibri';
            font-size: 27px;
            line-height: 1.3;

            .delete {
                font-size: 44px;
                background: url(../images/dicount-cross.png) no-repeat;
                background-size: 100% 100%;
            }
            .delete.no {
                background: none;
            }
            .one {
                font-size: 44px;
                margin-left: 30px;
            }
            .save {
                display: block;
                color: #ff0000;
                text-align: center;
            }
            img {
                margin-right: 5px;
            }
        }
    }
    .order-button {
        margin: 20px 0;
    }
    .made-use {
        margin-bottom: 40px;
    }
    h4 {
        color: #ff0000;
        font: 60px/1 'Folklore';
        margin: 0;
    }
    .text-top {
        p {
            font: 700 33px/1 'Arial';
        }
    }
    .text-bottom {
        font-family: 'Calibri';
        p {
            font-size: 27px;
            line-height: 1;
            .red {
                color: #ff0000;
                font-size: 38px;
                font-weight: 700;
            }
            .price {
                color: #000;
            }
            .shiping {
                display: block;
                font-size: 40px;
                font-weight: 700;

            }
        }
        .cross {
            span {
                font-size: 44px;
                background: url(../images/dicount-cross.png) no-repeat;
                background-size: 100% 100%;
                display: inline-block;
                margin: 20px;
                font-weight: 700;
            }
        }
    }
    .check-box {
        font-family: 'Calibri';
        padding-left: 50px;
        padding-top: 115px;
        padding-bottom: 20px;
        h3 {
            font-size: 50px;
            line-height: 1;
            color: #ff0000;
            font-weight: 700;
        }
        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            color: #000;
            line-height: 1.68;
            font-size: 38px;
            cursor: pointer;
        }

        input[type="checkbox"] + label span {
            display: inline-block;
            width: 51px;
            height: 48px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            background: url(../images/check.png) left top no-repeat;
            cursor: pointer;
        }

        input[type="checkbox"]:checked + label span {
            background: url(../images/checked.png) top no-repeat;
            background-size: 100% 100%;
        }
    }
}

.footer-top {
    margin-top: 30px;
    .container {
        background: url(../images/footer-top.png) no-repeat;
        background-size: 100% 100%;
        min-height: 610px;
    }
    .buttons {
        margin-top: 34%;
    }
    .order-link {
        position: relative;
        display: inline-block;
        margin: 20px 0;
        &:before {
            content: "";
            background: url(../images/footer-top-arrow.png) no-repeat;
            width: 229px;
            height: 90px;
            position: absolute;
            top: 8px;
            left: -257px;
        }
    }
}

.main-footer {
    .social-wrpaer {
        background: #fbfbfb;
        border: 1px solid #bfbfbf;
        max-width: 81%;
        margin: 50px auto;
        display: flex;
        flex-flow: row wrap;
        border-radius: 10px;
        h4 {
            margin-bottom: 5px;
        }
        img {
            margin-bottom: 5px;
        }
        > div {
            border-right: 1px solid #bfbfbf;
        }
    }
    .footer-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 10px;
            margin-bottom: 10px;
            a {
                font-family: 'Tahoma';
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .copy {
        font-family: 'Tahoma';
        margin-top: 15px;
        margin-bottom: 30px;
        span {
            color: #e14545;
        }
    }
}

.pera {
    padding: 50px 0 0 0;
    .pera-wrpaer {
        text-align: center;
        background: #f7f8f3;
        border: 1px solid #e0e1dc;
        max-width: 71%;
        border-radius: 10px;
        margin: 0 auto;
        padding: 5px;
        margin-bottom: 10px;
        p {
            margin: 0;
        }
    }
    .pera-wrpaer.flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        a {
            color: #000;
            font: 700 18px 'Ebrima';
            position: relative;
            &:after {
                content: "";
                background: url(../images/arrow.png);
                width: 30px;
                height: 42px;
                position: absolute;
                right: -40px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}
