$u: 'Utsaah';
body {
    color: #000;
}

@media (min-width:1367px) {
    .main-header {
        .container {
            width: 1200px
        }
    }
}

.main-header {
    background: url(../images/header-bg.png);

    position: relative;
    .container {
        position: relative;
        &:before {
            content: "";
            background: url(../images/top-banner.png) no-repeat;
            background-size: 100% 100%;
            height: 665px;
            width: 800px;
            position: absolute;
            top: 0;
            left: -57px;
        }
    }
    .title-wraper {
        width: 57%;
    }
    .left-title {
        float: left;
        width: 47%;
        margin-top: 10px;
        h2 {
            background: url(../images/ttle-green.png) no-repeat;
            background-size: 110% 100%;
            color: #000;
            text-shadow: 2px 2px 1px #fff;
            margin: 0;
            font-size: 31px;
            line-height: 0.90;
            font-family: 'Georgia';
            padding: 0 0 15px 15px;
            position: relative;
            left: -60px;
            span {
                font-size: 14px;
            }
        }
        .orange-title {
            background: url(../images/orange-content.png) no-repeat;
            background-size: 100% 100%;
            font-family: 'Lao UI';
            color: #811600;
            padding: 26px 0 37px 82px;
            position: relative;
            &:nth-child(2) {
                margin-top: -18px;
                width: 110%;
                left: -10%;
            }
            &:nth-child(3) {
                margin-top: -18px;
            }
            &:before {
                content: "";
                background: url(../images/orange.png) no-repeat;
                position: absolute;
                width: 70px;
                height: 72px;
                background-size: 100%;
                left: 0;
                top: 6px;
            }
            h4 {
                margin: 0;
                font-size: 12px;
                letter-spacing: 0.02em;
                line-height: 1.33;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                font-size: 15px;
                line-height: 1;
            }

        }
        .garuntte {
            margin-top: -20px;
        }
    }
    .right-form {
        float: left;
        width: 48%;
        background: #008828;
        padding: 17px 10px;
        border-radius: 15px;
        margin-top: 20px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background: url(../images/weeks-arrow.png) no-repeat;
            width: 75px;
            height: 259px;
            right: -54px;
            top: -24px;
        }
        h2 {
            margin: 0;
            background: url(../images/quate.png) no-repeat;
            background-size: 100% 100%;
            color: #fff;
            font-family: 'Impact';
            font-size: 44px;
            line-height: 1;
            padding: 0px 0px 29px 20px;
            margin-bottom: 20px;
            span {
                font-size: 28px;
            }
        }
        .content {
            padding-left: 40px;
            font-size: 14px;
            lable {
                font-family: 'Lucida Sans';
                color: #fff;
                display: block;
                margin-bottom: 15px;
                span {
                    width: 31%;
                    display: inline-block;
                    float: left;
                    margin-right: 5px;
                }
                input {
                    border: none;
                    background: #fff;
                    color: #000;
                    padding: 0 5px;
                    height: 24px;
                    width: 63%;
                    float: left;
                }
            }
            button {
                border: none;
                background: none;
                margin: 20px 0;
            }
        }
    }
    .gurantee-satification {
        background: url(../images/banner-gurentee-2.png) no-repeat;
        background-size: 100% 100%;
        font-family: 'Impact';
        min-height: 110px;
        position: absolute;
        bottom: -7px;
        font-size: 41px;
        line-height: 1;
        padding: 35px 134px 0 0;
        font-style: italic;
        text-align: right;
        text-transform: uppercase;
        width: 79%;
        left: -5%;
        &:before {
            content: "";
            position: absolute;
            background: url(../images/banner-gurentee-3.png) no-repeat;
            background-size: 100% 100%;
            width: 258px;
            height: 186px;
            bottom: -25px;
            left: 77px;
        }
    }

}

.logo {
    img {
        display: inline-block;
    }
    a {
        text-decoration: none;
        font-size: 25px;
        color: #000;
        font-family: $u;
        margin-right: 15px;
        img {
            margin-right: 10px;
        }
    }
}

.news {
    .container {
        background: #f9f9f7;
        border-radius: 15px;
        border: 1px solid #c4c4c4;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 50px auto;
    }
    h2 {
        margin: 0;
        color: #86c807;
        font-weight: 700;
        font-family: 'Arial';
        font-size: 44px;
        line-height: 1;
    }
    p {
        font: 25px/1.36 'Segoe UI Symbol';
    }
}

.formula {
    margin-bottom: 40px;
    
    .container {
        background: url(../images/formula-bg.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        padding-bottom: 30px;
    }
    .formula-fact {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 600px;
    }
    .title {
        background: url(../images/formula-title.png) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        padding: 47px 100px 89px 33px;
        margin-top: -25px;
        .wraper {
            transform: rotate(-5deg);
        }
        h2 {
            margin: 0;
            color: #fad00c;
            font: 51px/1 'Folklore';
        }
        p {
            margin: 0;
            color: #fff;
            font: 29px 'Folklore';
            line-height: 1;
        }
    }
    h3 {
        margin: 0;
        color: #008828;
        font: 40px/1 'Segoe UI';
        letter-spacing: 0.02em;
        font-weight: 700;
        margin-bottom: 40px;
    }
    p {
        font: 25px/1.36 'Segoe UI';
        letter-spacing: -.02em;
    }
    .bottom-text {
        margin-top: 15px;
        margin-bottom: 10px;
        p {
            font-weight: 700;
            font-style: italic;
            color: #008828;
            margin-top: 25px;
            span {
                color: #000;
            }
        }
    }
    .img-link img {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
    .gmp {
        bottom: -62px;
        position: relative;
        right: -28px;
    }
}

.product-inforamtion {
    h3 {
        margin: 0;
        font: 25px/1 'Impact';
    }
    .text {
        padding: 15px 0;
    }
    p {
        font: 25px/1.32 'Segoe UI Symbol';
        margin: 0;
    }
    .container {
        background: url(../images/blue.png);
        background-size: 100% 100%;
    }
    .blue {
        background: url(../images/blue.png);
    }
    .green {
        background-image: url(../images/green.png);
    }
    .red {
        background-image: url(../images/red.png);
    }
    .light-blue {
        background-image: url(../images/light-blue.png);
    }
}
